body{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  text-align: justify;
  hyphens: auto;
}

body, h1 {
  margin: 0;
}

nav{
  position: absolute;
  padding: 16px;
}

nav a{
  text-decoration: none;
  color: white;
}

.main{
  display: inline-block;
  float: left;
  background-image: url('../img/img_2610.JPG');
  background-size: cover;

}
.content-wrapper{
  display: inline-block;
}

.business-idea{
  background-color:#5E81A8;
}

.business-idea h1{
  color: white;
  text-align: left;

}

.business-idea p{
  color: white;
  font-size: 10px;
  margin: 0;
}

.about{
  display: inline-block;
  float: left;
  background-color: white;
}

.about h1{
  color: #5E81A8;
}

.about p{
  color: #5E81A8;
  font-size: 10px;
  margin: 0;
}


.contact{
  display: inline-block;
  background-image: url('../img/boka_kontakt.JPG');
}

.contact a{
  color: white;
  text-align: center;
  margin: 0;

}

/* Small screens */
@media only screen and (max-width: 600px) {
  h1{
    font-size: 16px;
    margin-bottom: 16px;
  }
  .main, .content-wrapper{
    width: 100%;
    height: 50vh;
  }
  .business-idea, .about-wrapper{
    width: 50%;
    height: 100%;
    display: inline-block;
  }
  .business-idea{
    float: right;
  }
  .about-wrapper{
    float: left;
    height: 50vh;
  }
  .content{
    padding: 16px;
  }
  .about, .contact{
    height: 50%;
    width: 100%;
  }
  .contact{
    position: relative;
  }
  .contact a{
    display: inline-table;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Medium screens */
@media only screen and (min-width: 600px), only screen and (max-width: 992px) {

}

/* Larger screens */
@media only screen and (min-width: 600px){/*992px) {*/
  .main{
    width: 50%;
    height: 100vh;
  }
  .content-wrapper{
    width: 50%;
    height: 100vh;
  }

  .content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }

  .about-wrapper{
    height: 50%;
  }

  .about{
    position: relative;
  }

  .contact, .about{
    width: 50%;
    height: 100%;
  }

  .business-idea{
    height: 50%;
    position: relative;
  }
}
