body{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  hyphens: auto;
}

body, h1 {
  margin: 0;
}

nav{
  position: absolute;
  padding: 16px;
}

a{
  text-decoration: none;
}

nav a{
  color: white;
  font-weight: bold;
}

footer{
  width: 100%;
  height: 50px;
  background-color: white;
  color: #5E81A8;
  text-align: center;
  font-size: 8px;
  display: table;
}

footer p{
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Light.ttf') format('truetype'),
}

.text-border{
  box-shadow: inset #5E81A8 0px -8px 0px -1px;
  padding-right: 6px;
  display: inline-block;
}

/* .text-border::before{
  content: '';
  width: 100%;
  height: 5px;
  background-color: cornflowerblue;
  position: absolute;
  left: 0;
} */

.main{
  display: inline-block;
  float: left;
  background-image: url('../img/sara_bernmark_3.jpg');
  background-size: cover;
  background-position: bottom;
}

.content-wrapper{
  display: inline-table;
}

.business-idea{
  background-color:#3D5B7E;
}

.business-idea h1{
  color: white;
  text-align: left;
  font-weight: bold;
  line-height: 1.6;
}

.business-idea p{
  color: white;
  margin: 0;
  line-height: 1.6;
  font-weight: lighter;
}

.about{
  display: inline-block;
  float: left;
  background-color: white;
}

.about h1{
  color: #5E81A8;
}

.about p{
  color: #5E81A8;
  margin: 0;
}

.contact{
  display: inline-block;
  background-image: url('../img/contact_1.jpeg');
  background-size: cover;
  background-position: bottom;
}

.contact a{
  color: #5E81A8;
  text-align: center;
  margin: 0;
  font-weight: bolder;
}

.contact a:hover{
  color:#3D5B7E;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  p{
    font-size: 10px;
  }

  h1{
    font-size: 12px;
    margin-bottom: 16px;
  }

  a{
    font-size: 14px;
  }

  .main, .content-wrapper{
    width: 100%;
    height: 50vh;
  }
  .business-idea, .about-wrapper{
    width: 50%;
    height: 100%;
    display: inline-block;
  }

  .business-idea{
    float: right;
  }

  .content{
    padding: 30px;
  }

  .about, .contact{
    height: 50%;
    width: 100%;
  }

  .contact{
    position: relative;
  }

  .contact a{
    display: inline-table;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) and only screen and (max-width: 992px) {
}

/* Larger screens */
@media only screen and (min-width: 600px){/*992px) {*/
  p{
    font-size: 14px;
  }

  h1{
    font-size: 20px;
    margin-bottom: 16px;
  }

  a{
    font-size: 20px;
  }

  .main{
    width: 50%;
    height: 100vh;
  }

  .content-wrapper{
    width: 50%;
    height: 100vh;
  }

  .content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 4vw;
  }

  .about-wrapper{
    height: 50%;
  }

  .about{
    position: relative;
  }

  .contact, .about{
    width: 50%;
    height: 100%;
  }

  .business-idea{
    height: 50%;
    position: relative;
  }

  .contact{
    position: relative;
  }

  .contact a{
    display: inline-table;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
